.custom-bordered-btn {
  border: 1px solid var(--bright-green);
  border-radius: 10px;
  padding: 12px 56px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 30px;
  width: 100%;
}
