.multifunctions {
  margin-top: 100px;

  .multifunctions__inner {
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
    background: var(--standart-white);
    padding: 30px 68px;
    z-index: 3;
    position: relative;

    &-header {
      text-align: center;
    }

    &-bottom {
      margin-top: 40px;
      text-align: center;
      cursor: pointer;
    }

    &-items {
      margin-top: 45px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;

      &-item {
        display: flex;
        gap: 14px;
        align-items: center;
      }
    }
  }
}
