.phones-section {
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  &-cards-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
    .phones-section-cards-text {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 32px;
      line-height: 120%;
      color: var(--dark-grey);
    }
  }
}
