.phone-content-container {
  margin-top: 60px;
}

.phone-filter {
  width: 100%;
  display: flex;
  .filter-component {
    width: 270px;
    border: 1px solid saddlebrown;
    height: 500px;
    z-index: 5555;
  }
}

.phones-list {
  margin-top: 20px;
  text-align: center;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  .phones-list-item {
    width: 100%;
  }
}

.recent-added {
  text-align: center;
}

.top-products {
  margin-top: 60px;
  text-align: center;
}

.phones-content-header {
  display: flex;
  justify-content: space-between;
  .phones-content-header-card-structures {
    display: flex;
    align-items: center;
    gap: 20px;
    .phones-content-header-sorting {
      display: flex;
      align-items: center;
      gap: 8px;

      .phones-sorting-dropdown {
        display: flex;
        gap: 5px;
        align-items: baseline;
      }
    }
  }
}

.card-structure-variants {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}

.phones-content {
  margin-top: 30px;
}

.list-variant {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  border: 1px solid red;
  .card-item {
    display: flex;
    align-items: center;
    width: 100%;

    &-image {
      width: 25%;
      padding: 20px;
    }
  }
}
