.card-items-container {
  display: flex;
  gap: 25px;
}

.search_not-found {
  display: flex;
  justify-content: center;
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: var(--bright-green);
    }
  }
}

.search-result__inner {
  margin-top: 60px;
}
