:root {
  --bright-green: #00c65e;
  --light-grey: #f7f7f7;
  --dark-grey: #363a45;
  --standart-white: #fff;
  --medium-grey: #dadcdc;
  --medium-grey-2: #efefef;
  --light-orange: #ffb762;
  --bright-orange: #f89358;
  --light-green: #ccefdb;
  --dark-green: #1e7836;
  --error-color: rgba(255, 0, 0, 0.73);
  --font-family: "Arial";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
