@font-face {
  font-family: "TTNorms";
  src: url("https://helix-dot-com-next-staging.vercel.app/_next/static/media/df24eec94c5e9db2-s.p.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
}

:root {
  --bright-green: #00c65e;
  --light-grey: #f7f7f7;
  --dark-grey: #363a45;
  --standart-white: #fff;
  --medium-grey: #dadcdc;
  --medium-grey-2: #efefef;
  --light-orange: #ffb762;
  --bright-orange: #f89358;
  --light-green: #ccefdb;
  --dark-green: #1e7836;
  --error-color: rgba(255, 0, 0, 0.73);
  --font-family: "Arial";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--bright-green);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-green);
}

.loading-text {
  z-index: 5555;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--bright-green);
  display: flex;
  align-items: center;
  justify-content: center;
}
